#root {
    text-align: center;
    min-height: 100vh;
    background-color:  #F5F5DC;
}

.site-logo{
    display:flex;
    flex-direction: column;
}

.logo-img{
    height: 10vh;
    width: 10vh;
}

.top-bar{
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
    min-height: 5vh;
    justify-content: space-around;
}

.set-search-button{
    min-height: 3vh;
    min-width: 3vh;
}

/* Search bar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

/* composed of input text and button */
.search-bar {
  width: 100%;
  position: relative;
  display: flex;
}

/* input text box*/
.searchTerm {
  width: 100%;
  border: 3px solid #000000;
  border-right: none;
  padding: 5px;
  height: 3%;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: grey;
}

.searchTerm:focus{
  color: black;
}

/* Blue button to the right */
.searchButton {
  display: flex;
  justify-items: center;
  width: 3em;
  height: 3%;
  background: #6379ea;
  padding: 5px;
  margin-top: 7px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-img {
  width: 24px;
  height: 24px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: relative;
  padding-top: 7%;
  transform: translate(-50%, -50%);
}


/* hamburger menu */
/* Style the hamburger menu */
.hamburger {
    display: block;
    position: absolute;
    right: 5em;
    top: 2em;
    width: 5em;
    hight: 5em;
  }