#root {
  text-align: center;
  min-height: 100vh;
  /* background-color:  #F5F5DC; */
  background-image: linear-gradient(79deg, #7439DB, #C66FBC 48%, #F7944D );
}

.site-logo{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1em;
  top: 1em;
}

.logo-img{
  display: flex;
  height: 10vh;
  width: 10vh;
  min-height: 5em;
  min-width: 5em;
}

.top-bar{
  display: flex;
  flex-direction: row;
  padding-top: 1vh;
  min-height: 5vh;
  justify-content: center;
  /* align-items: center; */
}

.set-search-button{
  min-height: 3vh;
  min-width: 3vh;
}

/* Search bar */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
background: #f2f2f2;
font-family: 'Open Sans', sans-serif;
}

/* composed of input text and button */
.search-bar {
position: relative;
display: flex;
}

/* input text box*/
.searchTerm {
width: 100%;
border: 3px solid #000000;
border-right: none;
padding: 5px;
font-size: 20px;
height: 5%;
border-radius: 5px 0 0 5px;
outline: none;
color: grey;
}

.searchTerm:focus{
color: black;
}

/* Blue button to the right */
.searchButton {
display: flex;
justify-items: center;
align-items: center;
width: 3em;
height: 3em;
background: #6379ea;
padding: 5px;
margin-top: 10px;
border-radius: 0 5px 5px 0;
cursor: pointer;
}

.search-img {
width: 24px;
height: 24px;
}

/*Resize the wrap to see the search bar change!*/
.search-bar-wrap{
width: 40%;
position: relative;
padding-top: 5%;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: normal;
  word-wrap: break-word;
  
}

.card-title {
  font-weight: bold;
}

.card-text {
  /* should wrap the container */
  white-space: normal;
  word-wrap: break-word;
}

/* Card Style */
.cardview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vh;
  margin-top: 1vh;
  flex: 1;
}

.card {
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  flex-direction: row;
  white-space: normal;
  word-wrap: break-word;
}
.card-mid{
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* padding: 16px;  */
  margin: 16px;
  height: 50vh;
  width: 60vh; 
  height: 50vh;
  width: 60vh; 
}
.card-left{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: auto;
  height: 25vh;
  width: 30vh;  
}

.card-right{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  margin: auto;
  height: 25vh;
  width: 30vh;
  height: 25vh;
  width: 30vh;
}

.flip-button{
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
}

/* .arrows-container button {
  background-color: #F5F5DC;
} */

.arrows-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 16px;
  padding-top: 2em;
  width: 30rem;
}

.left-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 1em;
  height: 1em
}

.right-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 1em;
  height: 1em
}

#right-arrow {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#left-arrow {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.bottom-bar{
  display: flex;
  flex-direction: row;
  padding-top: 1vh;
  min-height: 5vh;
  justify-content: center;
}

.save-deck-button{
  display:flex;
  background-color: white;
  color: black;
  width: 10rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  margin: 2vh;
}

.create-deck-button{
  display:flex;
  background-color: white;
  color: black;
  width: 10rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  margin: 2vh;
}

.footer{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding-top: 1vh;
  min-height: 5vh;
  justify-content: space-around;
}

.shuffle-button{
  display:flex;
  background-color: crimson;
  color: white;
  width: 10rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.share-button{
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  padding: 0;
  background-color: transparent;
}

.share-icon{
  flex-shrink: 0;
  /* min-width: 100%;
  min-height: 100% */
  width: 100%;
  height: 100%;
  object-fit: cover;
}